body {
  margin: 0;
  font-family: sans-serif;
  transition: 0.3s;
}

/* LIGHT / DARK */
body.light {
  background: linear-gradient(#4facfe, #00f2fe);
  color: white;
}

body.dark {
  background: #121212;
  color: white;
}

/* LAYOUT */
.container {
  max-width: 500px;
  margin: auto;
  padding: 15px;
}

/* TOP BAR */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  gap: 5px;
}

input {
  padding: 6px;
  border-radius: 8px;
  border: none;
  width: 100px; /* FIXED SMALL SIZE */
}

button {
  padding: 6px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* CARDS */
.card {
  background: rgba(255,255,255,0.2);
  padding: 15px;
  border-radius: 15px;
  margin-top: 15px;
  backdrop-filter: blur(10px);
}

.big {
  text-align: center;
}

/* FORECAST */
#forecast {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* DAY CARD */
.day-card {
  background: rgba(255,255,255,0.15);
  padding: 10px;
  border-radius: 12px;
}

/* HOURLY INSIDE DAY */
.hourly {
  display: flex;
  overflow-x: auto;
}

.hour {
  min-width: 70px;
  margin-right: 8px;
  text-align: center;
}
